.card{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img{
    width: 50%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.product-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}